[submodule "ApiGateway"]
	path = ApiGateway
	url = https://github.com/Rajsatyammm/ApiGateway
[submodule "EurekaServer"]
	path = EurekaServer
	url = https://github.com/Rajsatyammm/EurekaServer
[submodule "KafkaProducer"]
	path = KafkaProducer
	url = https://github.com/Rajsatyammm/KafkaProducer
[submodule "KafkaConsumer"]
	path = KafkaConsumer
	url = https://github.com/Rajsatyammm/KafkaConsumer
[submodule "SpringSecurity"]
	path = SpringSecurity
	url = https://github.com/Rajsatyammm/SpringSecurity
[submodule "ZipkinServer"]
	path = ZipkinServer
	url = https://github.com/Rajsatyammm/ZipkinServer
